<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style19/style.css') }}">
  <title>Drink Catalog</title>
</head>
<body class="backcol1 automarg">
  <header>
    <div class="bold header backcol2 padding">
      <h1 class="textcol5">Drink Catalog</h1>
    </div>
  </header>
  <main class="backcol1">
    <div>
      <aside class="aside left padding">
        {% include "catagories.html" %}
      </aside>
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>
