{% extends "base.html" %}
{% block content %}
  <div class="padding left">
    <p>New Drink for {{i.categoryDesc}}</p>
    <form action="{{url_for('newItem', categoryId = i.categoryId)}}" method = 'post'>
        Drink Name:<br><input type='text' size='30' name='name'><br>
        Drink Description:<br><input type='text' size='75' name='description'><br><br>
        <input type='submit' value='Create'>
        <a href='{{url_for('showCatalog')}}'>Cancel</a>
      </form>
  </div>
{% endblock %}
